main {
  --geist-background: #000;
  --geist-foreground: #fff;
  --yellow: rgba(255, 206, 32, 0.8);
  --red: rgba(197, 0, 0, 0.8);
  --blue: rgba(0, 89, 171, 0.8);
  --cyan: rgba(15, 255, 169, 0.8);
  --border: rgba(255, 255, 255, 0.1);
  --cellsize: calc(calc(100vw - 32px) / 8);
}

@media (min-width: 768px) {
  main {
    --cellsize: calc(min(1080px, 100vw - 32px) / 12);
  }
}

.gradient {
  background: conic-gradient(
    from 180deg at 50% 62%,
    transparent 0deg,
    var(--blue) 72deg,
    var(--cyan) 144deg,
    var(--yellow) 216deg,
    var(--red) 288deg,
    transparent 1turn
  );
}

@media (min-width: 768px) {
  .gradient {
    background: conic-gradient(
      from 180deg at 50% 70%,
      transparent 0deg,
      var(--blue) 72deg,
      var(--cyan) 144deg,
      var(--yellow) 216deg,
      var(--red) 288deg,
      transparent 1turn
    );
  }
}
