@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-sans);
  background-color: #000;
}

* {
  font-family: var(--font-sans);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Custom scrollbars */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #c7c4cc;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #000;
}

/* Hide the cursor */
.no-cursor,
.no-cursor * {
  cursor: none !important;
}
